<h1>Song Recommender</h1>

<form action="/search" method="post">
  <label for="song_field">Song Title:</label>
  <input id="song_field" type="text" name="song">

  <button>Get Recommendations!</button>
</form>
