<h1>Songs</h1>

<form action="/search" method="post">
  <label for="artist_field">Artist:</label>
  <input id="artist_field" type="text" name="artist_name" placeholder="E.g. Ariana Grande">

  <button>Search</button>
</form>
