<!-- <%= @debug %> -->

<h1>Songs by <%= @artist_name %></h1>

<ul>
  <% @data_hash.each do |song| %>
    <% artist = song.dig("artist", "name") %>
    <% if artist == @artist_name %>
      <% song_title = song.fetch("title") %>
      <li>
        <%= song_title %>
      </li>
      <% end %>
  <% end %>
</ul>

<form action="/">
  <button>Search another artist</button>
</form>
